.container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	padding: 1rem 1.75rem !important;

	.appLogo {
		height: 90px;
	}

	.infoBox {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.occurrenceForm {
		label {
			font-size: 16px;
		}

		.formItem {
			> div > div {
				padding: 0;
			}
		}
		.inputBorderColor {
			& > div {
				border-color: #000 !important;
			}
			border-color: #000;
		}

		.sendButton {
			background-color: #1e2439;
			color: #fff;
		}
	}

	footer {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
	}
}
